### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [3]:
phrase = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
print(phrase.count("row"))

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [12]:
name = input("What is your first name? ")
animal = input("What is your favorite animal? ")
color = input("What is your favorite color? ")

What is your first name? Mary
What is your favorite animal? lamb
What is your favorite color? white

In [13]:
print(f"{name} had a little lamb.\n" + f"It was {color} as snow.\n" 
      + f"And everywhere that {name} went, the {animal} was sure to go." )

Mary had a little lamb.
It was white as snow.
And everywhere that Mary went, the lamb was sure to go.

3. Print 3.14159 in a scientific number notation

In [35]:
num1 = 3.14159
print(f"{num1:e}")

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [55]:
num2 = 3.1559
print(f"{num2:.3f}")

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [65]:
num3 = 1589.92341
print(f"{num3: ,.2e}")

 1.59e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [68]:
39 // 2, 39 % 2

(19, 1)

In [70]:
19 // 2 , 19 % 2

(9, 1)

In [71]:
9 // 2 , 9 % 2

(4, 1)

In [72]:
4 // 2 , 4 % 2

(2, 0)

In [73]:
2 // 2 , 2 % 2

(1, 0)

In [74]:
1 // 2 , 1 % 2

(0, 1)

In [80]:
int(0b100111)

39

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [82]:
39 // 8, 39 % 8

(4, 7)

In [83]:
4 // 8 , 4 % 8

(0, 4)

In [84]:
0 // 8 , 0 % 8

(0, 0)

In [102]:
int(0o047)

39

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [103]:
39 // 16 , 39 % 16

(2, 7)

In [104]:
2 // 16 , 2 % 16

(0, 2)

In [105]:
0 // 16 , 0 % 16

(0, 0)

In [109]:
float(0x027)

39.0

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [143]:
amount = input("What is your amount? ")
amount = int(amount)

rate = input("What is your tax rate? ")
rate = float(rate)
rate = rate / 100

calc_tax = amount * rate
total = amount + calc_tax

print(f"The amount is {amount}. " + f"The tax rate is {rate:.2%}. " 
      + f"The calculated tax amount is ${calc_tax}, and the total is ${total}.")

What is your amount? 10
What is your tax rate? 20
The amount is 10. The tax rate is 20.00%. The calculated tax amount is $2.0, and the total is $12.0.

In [138]:
rate

0.2